/*import font family*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {margin:0;padding:0;background-color:#0d0a47; color: white;}
ul {margin: 0px; list-style:none;padding:0px; }
/*style settings for basic page layout*/
#title-box{
  color:black;
}
.card-header{
  color:black;
}
.maintxt > img,
  .overlay-text {
    position: absolute;
    color:white;
  }
#month-box,#day-box,#year-box {
  margin: 2px; 
}
/*style settings for dummy log*/
#console-box{
  position:static;
  top:48px; 
  right:48px;
  height:200px;
  width:300px;
  background-color:#000;
  color: #dfe6f5;
  font-family: monospace;
  padding:6px; 
}
/*style settings for steam data boxes - individually*/
#steam-box {
 position:absolute; 
 top: 48px;
 left: 6%; 
 width: 650px; 
 height: 600px; 
 background-color: #dfe6f5;
 padding: 12px; 
 display:flex;
 flex-flow: column; 
 align-content: center;
 align-items: center;
 justify-content:center; 
}
.steam-month {
  display:flex;
  width: 480px; 
  flex-flow: row wrap; 
  border: solid 1px; 
  justify-content: center; 
  align-items: center; 
  align-content: center; 
  margin: 0px; 
}
.month-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.steam-days-tens {
  list-style:none; 
  display:flex;
  width: 100px;
  height: 200px; 
  flex-flow: column; 
  border: solid 1px; 
  float: left; 
}
.day-tens-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.steam-days-ones {
  list-style:none; 
  display:flex;
  width: 250px;
  height: 200px; 
  flex-flow: row wrap; 
  border: solid 1px; 
  clear: right;  
}
.day-ones-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.steam-years-thousands {
  list-style:none; 
  display:flex;
  width: 75px;
  height: 200px; 
  flex-flow: column; 
  border: solid 1px;
  float:left; 
}
.year-thousands-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
.steam-years-tens {
  list-style:none; 
  display:flex;
  width: 220px;
  height: 200px; 
  flex-flow: row wrap; 
  border: solid 1px;
  float:left; 
}
.year-tens-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
.steam-years-ones {
  list-style:none; 
  display:flex;
  width: 220px;
  height: 200px; 
  flex-flow: row wrap; 
  border: solid 1px; 
}
.year-ones-box {
  height:50px;
  width:50px;
  background: black;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
/*style settings for selected data option(s)*/
.selected {
  background-color: #727478;
  font-weight: bold; 
}